%h2 Sign upp
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :"ニックネーム"
    %br/
    = f.text_field :nickname
  .field
    = f.label :"メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :"パスワード"
    %br/
    = f.password_field :password, {autocomplete: "new-password", placeholder: "7文字以上の半角英数字"}
  .field
    = f.label :"パスワード(確認用)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :"お名前(全角)"
    %br/
    = f.text_field :family_name, {placeholder:"例) 山田"}
    = f.text_field :first_name, {placeholder:"例) 彩"}
  .field
    = f.label :"お名前かな(全角)"
    %br/
    = f.text_field :kana_family_name, {placeholder:"例) やまだ"}
    = f.text_field :kana_first_name, {placeholder:"例) あや"}
  .field
    = f.label :"生年月日"
    %br/
    = f.text_field :birth_year
    %span 年
    = f.text_field :birth_month
    %span 月
    = f.text_field :birth_day
    %span 日

  = f.fields_for :address do |f|
    .field
      = f.label :"郵便番号"
      %br/
      = f.text_field :zip_code
    .field
      = f.label :"都道府県"
      %br/
      = f.text_field :prefecture
    .field
      = f.label :"市区町村"
      %br/
      = f.text_field :municipality
    .field
      = f.label :"住所"
      %br/
      = f.text_field :address
    .field
      = f.label :"建物名(任意)"
      %br/
      = f.text_field :apartment_name
    .field
      = f.label :"電話番号(任意)"
      %br/
      = f.text_field :phone_number
  .actions
    = f.submit "登録する"
= render "devise/shared/links"
