.RegistrationWrapper
  .RegistrationNew
    .RegistrationTitle
      %h2 住所登録
    .RegistrationForm
      = form_for(@address, url: addresses_path, method: :post) do |f|
        = render "devise/shared/error_messages", resource: @address
        .FormGroup
          = f.label :"郵便番号"
          %span.FormGroup__require 必須
          %br/
          = f.text_field :zip_code
        .FormGroup
          = f.label :"都道府県"
          %span.FormGroup__require 必須
          %br/
          = f.text_field :prefecture
        .FormGroup
          = f.label :"市区町村"
          %span.FormGroup__require 必須
          %br/
          = f.text_field :municipality
        .FormGroup
          = f.label :"番地"
          %span.FormGroup__require 必須
          %br/
          = f.text_field :address
        .FormGroup
          = f.label :"建物名"
          %span.FormGroup__optional 任意
          %br/
          = f.text_field :apartment_name
        .FormGroup
          = f.label :"電話番号"
          %span.FormGroup__optional 任意
          %br/
          = f.text_field :phone_number, {placeholder:"ハイフンなしで入力してください"}
        .actions
          = f.submit "登録"
      -# = render "devise/shared/links"

