.UserSideBar
  %nav.UserSideBarNav
    %ul.UserSideBarNav__list
      %li
        = link_to "#" do
          マイページ
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          お知らせ
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          やることリスト
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          いいね！一覧
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          出品する
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          下書き一覧
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          出品した商品-出品中
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          出品した商品-取引中
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          出品した商品-売却済み
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          購入した商品-取引中
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          購入した商品-過去の取引
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          ニュース一覧
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          評価一覧
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          ガイド
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          お問い合わせ
          = icon('fa', 'angle-right')
    %h3.UserSideBarNav__head 設定
    %ul.UserSideBarNav__list
      %li
        = link_to "#" do
          プロフィール
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          発送元・お届け先住所変更
          = icon('fa', 'angle-right')
          %li
        = link_to "#" do
          支払い方法
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          メール/パスワード
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          本人情報
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          電話番号の確認
          = icon('fa', 'angle-right')
      %li
        = link_to "#" do
          ログアウト
          = icon('fa', 'angle-right')
