= render partial: "template/header"
.UserWrapper
  .UserHeader
    %ol.UserHeader__list
      %li
        =link_to root_path do
          フリマ
          = icon('fa', 'angle-right')
      %li
        =link_to user_path(current_user.id) do
          マイページ
          = icon('fa', 'angle-right')
      %li
        %span 支払い方法
  .UserContainer
    .UserContent
      .UserContent__title
        支払い方法
      .UserContent__main
        .UserContent__single
          クレジットカード一覧
        = link_to  "#", class: "UserBtn" do
          = icon('fa', 'credit-card')
          クレジットカードを追加する
    = render "side_bar"
= render partial: "template/footer"
= render partial: "template/exhibit"




