.RegistrationWrapper
  .RegistrationNew
    .RegistrationTitle
      %h3 アカウントをお持ちでない方はこちら
      = link_to "新規登録", new_user_registration_path, {class: "Btn-blue"}

    .RegistrationForm
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .FormGroup
          = f.label :email, "メールアドレス"
          %br/
          = f.email_field :email, {autocomplete: "email", class:'FormGroup__input'}
        .FormGroup
          = f.label :password, "パスワード"
          %br/
          = f.password_field :password, {autocomplete: "current-password", placeholder: "7文字以上の半角英数字", class:'FormGroup__input'}
        .actions
          = f.submit "ログイン", class: "FormBtn"
-# = render "devise/shared/links"
