.RegistrationWrapper
  .RegistrationNew
    .RegistrationTitle
      %h3 アカウントをお持ちでない方はこちら
      = link_to "新規登録", new_user_registration_path, {class: "Btn-blue"}

    .RegistrationForm
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .FormGroup
          = f.label :nickname, "ニックネーム"
          %span.FormGroup__require 必須
          %br/
          = f.text_field :nickname, {autofocus: true, placeholder:"例) フリマ太郎", class:'FormGroup__input'}
        .FormGroup
          = f.label :email, "メールアドレス"
          %span.FormGroup__require 必須
          %br/
          = f.email_field :email, {autocomplete: "email", placeholder: "PC・携帯どちらでも可", class:'FormGroup__input'}
        .FormGroup
          = f.label :password, "パスワード"
          %span.FormGroup__require 必須
          %br/
          = f.password_field :password, {autocomplete: "new-password", placeholder: "7文字以上の半角英数字", class:'FormGroup__input'}
        .actions
          = f.submit "Log in", class: "FormBtn"
-# = render "devise/shared/links"
