= render partial: "template/header"
.ItemShowWrapper
  .ItemShowHeader
    %ol.ItemShowHeader__list
      %li
        =link_to root_path do
          フリマ
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          カテゴリ１
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          カテゴリ２
          = icon('fa', 'angle-right')
      %li
        %span 商品名
  .BuyContainer
    = form_with url: purchase_item_path, class: "BuyForm" do |f|
      %section.BuyForm-box
        %h2.BuyForm-title 購入内容の確認
      %section.BuyForm-box
        .Item
          = image_tag(@item.images[0].src.url, class: "Item-image")
          .Item-text
            %p.Item-name
              = @item.item_name
            %p.Item-price
              %span.Item-price__left 送料込み(税込)
              %span.Item-price__right
                = number_to_currency(@item.price, format: "%u%n", unit: "￥", precision: 0)
      %section.BuyForm-box.Money
        .Money__top
          %span.Money-text 支払い金額
          %span.Money-price
            = number_to_currency(@item.price, format: "%u%n", unit: "￥", precision: 0)
        .Money__bottom
          %p ポイントの使用
          %p 所持ポイント：P0
      %section.BuyForm-box.Pay
        .Pay__top
          %h3.Pay-text 支払い方法
          = link_to "変更する", "#", class: "Pay-link"
        .Pay__bottom
          %ul
            クレジットカード
            %li.content__card__list
              .card-figure
                = image_tag "card-logos/#{@card_src}", height: "20", width: "26", alt: @card_brand, id: "card_image"
              .content__card__list--pay-num
                = "**** **** **** " + @card_information.last4
              .content__card__list--pay-num
                - exp_month = @card_information.exp_month.to_s
                - exp_year = @card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
      %section.BuyForm-box.Address
        .Address__top
          %h3.Address-text 配送先
          = link_to "変更する", "#", class: "Address-link"
        .Address__bottom
          = @address.zip_code
          %br
          = @address.prefecture
          = @address.municipality
          = @address.address
          = @address.apartment_name
          %br
          = current_user.family_name
          = current_user.first_name
      %section.BuyForm-box
        .Submit
          = f.submit "購入する", class: "Submit-btn"
      -# #製品に関して、"buyer_id"の有無を確認

= render partial: "template/footer"

