= render partial: "template/header"
.ItemShowWrapper
  .ItemShowHeader
    %ol.ItemShowHeader__list
      %li
        =link_to root_path do
          フリマ
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          カテゴリ１
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          カテゴリ２
          = icon('fa', 'angle-right')
      %li
        %span 商品名
  .ItemShowContent
    .ItemShowContent__top
      .ItemBox
        .ItemBox__title
          商品名
        .ItemBox__image
          .ItemBox__image--main
            = image_tag "photo/photo_3.jpg", size:"360x360", alt: "item-image"
          %ul.ItemBox__image--sub
            %li
              = image_tag "photo/photo_1.jpg", size:"90x90", alt: "item-image"
            %li
              = image_tag "photo/photo_L4.jpg", size:"90x90", alt: "item-image"
        .ItemBox__price
          %h1 ¥10000
          .itemBox__price--detail
            (税込み)
            送料込み
        .ItemBox__info
          いいですよ
        .ItemBox__table
          %table
            %tr
              %th 出品者
              %td a
            %tr
              %th カテゴリー
              %td
            %tr
              %th ブランド
              %td 
            %tr
              %th 商品のサイズ
              %td
            %tr
              %th 商品の状態
              %td 新品/未使用
            %tr
              %th 配送料の負担
              %td 送料込み（出品者負担）
            %tr
              %th 発送元の地域
              %td 他移動
            %tr
              %th 発送日の目安
              %td 1-2日で発送
        .ItemBox__optional
          .ItemBox__optional--like
            = icon('fa', 'star')
            お気に入り
            %span 0
          .ItemBox__optional--bad
            = link_to "#", class: "badBtn" do
              = icon('fa', 'flag')
              不適切な商品の通報
    .ItemComment
      %form.CommentForm
        %textarea.CommentForm__textarea
        .CommentForm__noticeMsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button{type: "submit", class: "CommentForm__submit"}
          = icon('fa','comment')
          コメントする
= render partial: "template/footer"
= render partial: "template/exhibit"