= render partial: "template/header"
.ItemShowWrapper
  .ItemShowHeader
    %ol.ItemShowHeader__list
      %li
        =link_to root_path do
          フリマ
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          = @item.category.root.name
          = icon('fa', 'angle-right')
      %li
        =link_to "#" do
          = @item.category.parent.name
          = icon('fa', 'angle-right')
      %li
        %span
          = @item.item_name
  .ItemShowContent
    .ItemShowContent__top
      .ItemBox
        .ItemBox__title

          =@item.item_name
          %br/
        .ItemBox__image
          .ItemBox__image--main
            = image_tag @item.images.first.src.url, size:"360x300", alt: "item-image"
              -if @item.buyer_id.present? 
              -# #"buyer_id"がある場合には、追加の記述を行う。
              .items-box_photo__sold
                .items-box_photo__sold__inner 
                  SOLD

          %ul.ItemBox__image--sub
            -if @item.images.length >= 2                  #画像が２枚以上の時にサムネイル表示を行う
              - @item.images.each do |image|
                %li
                  = image_tag image.src.url, size:"90x75", alt: "item-image"
        .ItemBox__price

          %h1 
            = @item.price

          .itemBox__price--detail
            (税込み)
            %br
            = @item.postageplayer.name
        .ItemBox__buy
          -if user_signed_in?
            -if current_user.id == @item.user_id
              = link_to "#", class: "ItemBox__buy--btn" do
                編集する
              = link_to item_path(@item), method: :delete, class: "ItemBox__buy--btn Btn--red" do
                削除する
            - else
              = link_to buy_item_path, class: "ItemBox__buy--btn" do
                購入する
          - else
            = link_to user_session_path, class: "ItemBox__buy--btn" do
              ログインする
            購入にはログインが必要です。
        .ItemBox__info
          = @item.introduction
        .ItemBox__table
          %table
            %tr
              %th 出品者
              %td
                = @item.user.nickname
            %tr
              %th カテゴリー
              %td
                = link_to @item.category.root.name, "#"
                %br
                = link_to @item.category.parent.name, "#"
                %br
                = link_to @item.category.name, "#"
            %tr
              %th ブランド
              %td 
                = @item.brand
            %tr
              %th 商品の状態
              %td
                = @item.condition.name
            %tr
              %th 配送料の負担
              %td
                = @item.postageplayer.name
            %tr
              %th 発送元の地域
              %td
                = @item.prefecture.name
            %tr
              %th 発送日の目安
              %td
                = @item.shippingdate.name
        .ItemBox__optional
          .ItemBox__optional--like
            = icon('fa', 'star')
            お気に入り
            %span 0
          .ItemBox__optional--bad
            = link_to "#", class: "badBtn" do
              = icon('fa', 'flag')
              不適切な商品の通報
        .ItemBox
    .ItemComment
      %form.CommentForm
        %textarea.CommentForm__textarea
        .CommentForm__noticeMsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button{type: "submit", class: "CommentForm__submit"}
          = icon('fa','comment')
          コメントする
    .RelateItems
      %ul.RelateItems__itemLink
        %li
          - if @item.previous.present?
            = link_to item_path(@item.previous) do
              = icon('fa', 'angle-left')
              前の商品
        %li
          - if @item.next.present?
            = link_to item_path(@item.next) do
              後ろの商品
              = icon('fa', 'angle-right')
      .RelateItems__category
        .RelateItems__category--name
          = link_to "#" do
            = "#{@item.category.parent.parent.name}をもっと見る"
        .RelateItemsList
          - @item.relate_item.each do |item|
            .RelateItemsList__item
              = link_to "#" do
                .RelateItemList__item--image
                  = image_tag item.images.first.src.url, size:"200x200"
                .ItemDetail
                  .ItemDetail__name
                    = item.item_name
                  .ItemDetail__info
                    .ItemDetail__price
                      = item.price
                    .ItemDetail__like
                      = icon('fa', 'star')
                      0
                  %p (税込)
= render partial: "template/footer"
= render partial: "template/exhibit"