= render partial: "template/header"
.CategoryWrapper
  .CategoryHeader
    %ol.CategoryHeader__list
      %li
        =link_to root_path do
          フリマ
          = icon('fa', 'angle-right')
      %li
        %span カテゴリ一覧
  .CategoryMain
    .CategoryParents
      - @parents.each do |parent|
        = link_to "#category#{parent.id}", class: "CategoryParents__index" do
          = parent.name
    - @parents.each do |parent|
      .CategoryBox{id: "category#{parent.id}"}
        = link_to "#", class: "CategoryBox__title" do
          = parent.name
        - parent.children.each do |child|
          .CategoryContents
            .CategoryContent
              = link_to "#", class: "CategoryContent__title" do
                = child.name
            .CategoryContents__list
              %ul.CatItems.clearfix
                - child.children.each do |category|
                  %li.CatItem
                    = link_to "#", class: "ItemName" do
                      = category.name
        .CategoryBox__topBtn
          = link_to "#title", class: "TopBtn" do
            = icon('fa', 'arrow-up')
            ページトップへ
= render partial: "template/footer"
= render partial: "template/exhibit"