.Wrapper
  = form_with model: @item,@category, html: {class: "form"}, local:true do |f|
    .Sell-header
      .Sell-header__logo
        = image_tag "logo.png", height: "60", with: "80"

    .Container
      .Sell-contents
        .Sell-contents__title
          %h1
            出品名
          .required
            必須
        .Form__contents
          = f.text_field :item_name, placeholder: '40文字まで', class:'Form-sell__text'

        .Sell-contents__title
          %h1
            出品説明
          .required
            必須
        .Form__explain
          = f.text_area :introduction, placeholder: "商品の説明 (必須 1,000字以内)(色、素材、重さ、定価、注意点など)  例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", size:"40x10"
        %br

    -# ____商品詳細__________________
    .Container
      .DetailsOfProducts
        %h1 商品の詳細
      .Sell-contents
        .Sell-contents__title
          %h1
            カテゴリー
          .required
            必須
        .Form__contents
          .ItemCategory__parent
            = select_tag("parent",options_for_select(@parents.pluck(:name, :id)), include_blank: '選択して下さい')
          .ItemCategory__child         
          .ItemCategory__grandchild
        .Sell-contents__title
          %h1
            ブランド
          .any
            任意
        .Form__contents
          = f.text_field :brand, class:'Form-sell__text'
          

        .Sell-contents__title
          %h1
            商品の状態
          .required
            必須
        .Form__contents
          = f.collection_select :condition_id, Condition.all, :id, :name, include_blank: '選択して下さい', class:'Form-sell__text'

    -# ____配送について______________
    .Container
      .DetailsOfProducts
        %h1 発送について
      .Sell-contents
        .Sell-contents__title
          %h1
            配送料の負担
          .required
            必須
        .Form__contents
          = f.collection_select :postageplayer_id, Postageplayer.all, :id, :name, include_blank: '選択して下さい', class:'Form-sell__text'
    

    
        .Sell-contents__title
          %h1
            発送元の地域
          .required
            必須
        .Form__contents
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '選択して下さい', class:'Form-sell__text'
    

        .Sell-contents__title
          %h1
            発送までの日数
          .required
            必須
        .Form__contents
          = f.collection_select :shippingdate_id, Shippingdate.all, :id, :name, include_blank: '選択して下さい', class:'Form-sell__text'
    

    -# ____価格______________________
    .Container-end
      .DetailsOfProducts
        %h1 価格（¥300〜9,999,999）
      .Sell-contents-end
        .Sell-contents-end__container
          .Sell-contents-end__title
            %h1
              販売価格
            .required
              必須
          .Form__contents--price
          ¥
          = f.number_field :price ,placeholder: "0"
        .value
          .profit
            販売手数料(10%)
          .total_price
            ¥ ー
        .Bottom-line
        .Sell-contents-end-bottom
          .final_value
            .profit
              利益
            .total_profit
              ¥ ー
              
        .Submit-container
          = f.submit "出品する",class:'Sell_submit'
        .Split
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品などの販売は犯罪であり、法律に
          より処罰される可能性があります。出品をもちまして加盟店規約に同意したことになります。
    .Sell-footer
    .Sell-footer__contents
      %li
        = link_to "会社概要（運営会社）", "#"
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "FURIMA利用規約", "#"
      %li
        = link_to "ポイントに関する特約", "#"
    .Sell-header
      = image_tag "logo.png", height: "60", with: "80"